{
  "plugins": [
    "transform-runtime"
  ],
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "ios >= 9",
            "chrome >= 47"
          ]
        }
      }
    ],
    "stage-2"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ]
    }
  }
}
